<!DOCTYPE html>
<html>
  <head>
    <title>host</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src=""></script>
  </head>
  <body>

    <div class="jumbotron">

      <div class="container">
        <div class=" row">
          <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></span>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center">MY SITE!!</h2>
          </div>
          <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></span>    
            
        </div>
        

      
      </div>
    </div>

    <div class="well footer navbar-fixed-bottom text-center">
      <h3>Graham Baker & Jon Sims <br><small>Capstone 2015</small> </h3>
    </div>

  </body>
</html>